<% @lang = "ru" %>
<% @id = "features" %>
<% @title = "Возможности" %>

<h1><%= @title %></h1>
<section>
	<h3>Индивидуальный подход</h3>
	<p>У вас появилась область, где надо клепать, вам нужно поднять производительность? Вы можете создать шаблон под конкретные нужды Вашей типографии (типовой визитки, например).</p>
</section>
<section>
	<h3>Большой выбор шаблонов</h3>
	<p>У нас много красивых и оригинальных шаблонов, которые будут включены по умолчанию. Также вы сможете создавать ндивидуальные шаблоны для своей типографии или покупать их в магазине. Скоро будет добавлена возможность продажи своих шаблонов другим типографиям.</p>
</section>
<section>
	<h3>Продвинутые возможности редактора</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section>
	<h3>Продвинутые возможности редактора</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section>
	<h3>Продвинутые возможности редактора</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>