<% @lang = "ru" %>
<% @id = "home" %>
<% @title = "Главная" %>

<div id="logo"></div>
<section id="about">
	<h2><a href="#about">Что такое Kleparius</a></h2>
	<p>Это <a href="http://ru.wikipedia.org/wiki/Software_on-demand" target="_blank">SaaS-сервис</a> подготовки макетов фотопродукции и полиграфической продукции, разработанный специально для нужд типографий.</p>
	<ul>
		<li>Избавляет персонал от "малополезной" ("неэффективной") работы.</li>
		<li>Расширяет функциональность вашего сайта</li>
		<li>увеличивает обьем заказов.</li>
		<li>Удобная, настраиваемая система работы с заказами.</li>
		<li>Представляет собой серверные мощности</li>
	</ul>
</section>
<section id="features">
	<h2><a href="#features">Почему Kleparius</a></h2>
	<p>Очередь клиентов у стола вашего дизайнера... Знакомая картина? А действительно ли им всем необходима помощь вашего специалиста?
	Типовые визитки, сувенирные кружки, календари... и это не весь список простых задач, на которые ежедневно тратят драгоценное время ваши дизайнеры.</p>
	<p>А теперь представьте, что клиент сам делает эту простую, по сути, механическую работу. При этом ему не надо ехать к вам в офис, стоять в очереди и т.д.
	Ваши клиенты не смогут теперь говорить: "Дизайнер мне совсем не то наваял!"
	Клиенты получают удовольствие от создания макетов в комфортной и привычной для них обстановке (дома, в офисе), у них никто не стоит за спиной с недовольным видом, ожидая своей очереди.
	Будьте первыми, предоставьте сервис своим клиентам быстрее конкурентов.</p>
</section>

<section id="integration">
	<h2><a href="#integration">Интеграция нашего сервиса</a></h2>
	<p>Вам достаточно вставить наш код на свой сайт - и вы можете пользоваться сервисом.
	При выборе тарифа "Клепариус" или "Клепарище" мы поможем вам с установкой бесплатно.</p>
	<h4>Используя KLEPARIUS, вы получаете возможность:</h4>
	<ul>
		<li>скачивать макеты, которые были созданы вашими клиентами (по умолчанию в отдел продаж по электронной почте приходит ссылка на скачивание макета)</li>
		<li>загружать и определять шаблоны для вашей продукции</li>
		<li>определять функциональность редактора </li>
	</ul>
	<p>Осторожно! С помощью излишне широкого набора функций, клиент может испортить даже очень хороший макет.</p>
</section>

<section id="editor">
	<h2><a href="#editor">Возможности редактора</a></h2>
	<p>Ваши клиенты смогут сами создавать и редактировать визитки, брошюры, календари и прочую продукцию прямо на сайте типографии.
	Таким образом вы сможете лучше понять, что хотят клиенты, а клиенты, в свою очередь, получат удовольствие от участия в создании продукции.
	Возможности редактора достаточно широки для проявления индивидуальности каждого клиента.</p>
	<h4>Например, вы можете подключить следующие функции:</h4>
	<ul>
		<li>изменять цвет текста</li>
		<li>менять размер шрифта принудительно в определенных рамках</li>
		<li>менять выравнивание текста</li>
		<li>менять шрифт (выбирать из списка, предоставленного типографией для конкретного шаблона)</li>
		<li>выполнять простую цветокоррекцию фотографий</li>
	</ul>

</section>

<section id="servers">
	<h2><a href="#servers">Мощности</a></h2>
	<p>Наш сервис не будет загружать ваши серверы, т.к. макет генерируется на наших мощностях в .cdr, .ai или в .svg.</p>
	<h4>Преимущества:</h4>
	<ul>
		<li>Нагрузка не ложится на ваши серверы</li>
		<li>Все макеты и шаблоны лежат у нас и не занимают ваше место</li>
	</ul>
	<span class="attention">Макет генерируется от 5 до 10 минут.</span>
</section>

<section id="print">
	<h2><a href="#print">Готовые макеты от Kleparius</a></h2>
	<p>Сгенерированные макеты вы можете скачать из своего профиля и отправить на печать.
	При выборе тарифа "Клепарище" ссылки на макеты будут присылаться на вашу почту.</p>
	<h4>Преимущества:</h4>
	<p>Вы получаете полностью готовый к печати файл. Клепайте на здоровье =)</p>
	
</section>

<section id="registration">
	<h2><a href="#registration">Регистрация</a></h2>
	<p>Зарегистрируйтесь на сервисе уже сейчас!
	Это сделает работу вашей типографии проще и приятнее, а также позволит привлечь больше клиентов.</p>
	<form action="/registration.php">
		<input id="registration_firm_name" type="name" name="name" placeholder="Название организации"/>
		<input class="input-medium" type="email" name="email" placeholder="e-mail"/>
		<input class="input-medium" type="password" name="password" placeholder="пароль"/>
		<button class="btn btn-primary btn-large">Зарегистрироваться</button>
	</form>
</section>

<section id="blankzakaza">
	<h2><a href="#blankzakaza">Также</a></h2>
	<p>Готовится к запуску наш сервис для автоматизации типографии
		<a href="http://www.blankzakaza.ru/" target="_blank">blankzakaza.ru</a>! Подпишитесь, чтобы первыми узнать о его запуске.</p>
</section>