h1, h2
	margin: (24/26 px) 0 (36/26 px)

h2
	font-weight: normal

// h3
//     margin: #{24px/$em} 0 #{24px/$em}

//  Simple elastic gutters
//  Note: box-sizing will not work in IE6-8

.wrapper
	padding: $line_height / 2 //0 #{()/$em}em
	+box-sizing(border-box)

//  Fixes for IE6-8
//  http://jonikorpi.com/leaving-old-IE-behind/

.ie body
	width: #{640px/$em}em
	margin: 0 auto
	font-size: #{($font-size + 1) / $em}em

.ie h1
	@extend .huge
	margin: (48/42*1em) 0 (24/42*1em)

body
	// 16px / 24px
	font-size: $font-size
	line-height: $line_height

.small
	// 13px / 18px
	font-size: ($font-size * 0.8125) / $em
	line-height: ($line_height * 0.75) / ($font-size * 0.8125 / $em)

h3
	// 16px / 24px
	// 20px / 26px
	font-size: 22px / $em
	line-height: $line-height* 1.1 // 24

.large, h2, h1
	// 26 / 36px
	font-size: 26px / $em /////////#{26 / $em}em
	line-height: $line-height * 1.5 // 26

.huge
	// 42px / 48px
	font-size: 42px / $em ////#{42 / $em}em
	line-height: $line_height * 2 // 42

.massive
	// 68px / 72px
	font-size: 68px / $em ////#{68 / $em}em
	line-height: $line_height * 3 // 68

.gigantic
	/* 110px / 120px */
	font-size: 110px / $em ///#{110 / $em}em
	line-height: $line_height * 5 // 110
ol
	list-style-type: decimal
	&.small
		font-size: 14px
p
	margin-bottom: 15px