@mixin background-subtle($kit: true) {
    @if $kit or $kit == "sp1" {
        background: url(/img/patterns/sp1/45degreee_fabric.png);
        background: url(/img/patterns/sp1/60degree_gray.png);
        background: url(/img/patterns/sp1/always_grey.png);
        background: url(/img/patterns/sp1/beige_paper.png);
        background: url(/img/patterns/sp1/black_denim.png);
        background: url(/img/patterns/sp1/black_paper.png);
        background: url(/img/patterns/sp1/black-Linen.png);
        background: url(/img/patterns/sp1/blackmamba.png);
        background: url(/img/patterns/sp1/bright_squares.png);
        background: url(/img/patterns/sp1/brushed_alu_dark.png);
        background: url(/img/patterns/sp1/brushed_alu.png);
        background: url(/img/patterns/sp1/carbon_fibre.png);
        background: url(/img/patterns/sp1/concrete_wall_2.png);
        background: url(/img/patterns/sp1/concrete_wall_3.png);
        background: url(/img/patterns/sp1/concrete_wall.png);
        background: url(/img/patterns/sp1/cork_1.png);
        background: url(/img/patterns/sp1/crossed_stripes.png);
        background: url(/img/patterns/sp1/dark_stripes.png);
        background: url(/img/patterns/sp1/darth_stripe.png);
        background: url(/img/patterns/sp1/double_lined.png);
        background: url(/img/patterns/sp1/exclusive_paper.png);
        background: url(/img/patterns/sp1/fabric_1.png);
        background: url(/img/patterns/sp1/gray_sand.png);
        background: url(/img/patterns/sp1/green_gobbler.png);
        background: url(/img/patterns/sp1/green-fibers.png);
        background: url(/img/patterns/sp1/grunge_wall.png);
        background: url(/img/patterns/sp1/handmadepaper.png);
        background: url(/img/patterns/sp1/leather_1.png);
        background: url(/img/patterns/sp1/light_honeycomb.png);
        background: url(/img/patterns/sp1/little_pluses.png);
        background: url(/img/patterns/sp1/micro_carbon.png);
        background: url(/img/patterns/sp1/noisy.png);
        background: url(/img/patterns/sp1/old_mathematics.png);
        background: url(/img/patterns/sp1/padded.png);
        background: url(/img/patterns/sp1/paper_1.png);
        background: url(/img/patterns/sp1/paper_2.png);
        background: url(/img/patterns/sp1/paper_3.png);
        background: url(/img/patterns/sp1/pinstripe.png);
        background: url(/img/patterns/sp1/random_grey_variations.png);
        background: url(/img/patterns/sp1/rockywall.png);
        background: url(/img/patterns/sp1/smooth_wall.png);
        background: url(/img/patterns/sp1/soft_wallpaper.png);
        background: url(/img/patterns/sp1/subtle_freckles.png);
        background: url(/img/patterns/sp1/subtle_orange_emboss.png);
        background: url(/img/patterns/sp1/tactile_noise.png);
        background: url(/img/patterns/sp1/vichy.png);
        background: url(/img/patterns/sp1/wavecut.png);
        background: url(/img/patterns/sp1/white_carbon.png);
        background: url(/img/patterns/sp1/white_sand.png);
        background: url(/img/patterns/sp1/wood_1.pn);
    }
    @if $kit or $kit == "sp2" {
        background: url(/img/patterns/sp2/bgnoise_lg.png);
        background: url(/img/patterns/sp2/black_linen_v2.png);
        background: url(/img/patterns/sp2/black_scales.png);
        background: url(/img/patterns/sp2/carbon_fibre_v2.png);
        background: url(/img/patterns/sp2/cardboard.png);
        background: url(/img/patterns/sp2/circles.png);
        background: url(/img/patterns/sp2/crissXcross.png);
        background: url(/img/patterns/sp2/crosses.png);
        background: url(/img/patterns/sp2/cubes.png);
        background: url(/img/patterns/sp2/dark_brick_wall.png);
        background: url(/img/patterns/sp2/dark_circles.png);
        background: url(/img/patterns/sp2/dark_leather.png);
        background: url(/img/patterns/sp2/dark_mosaic.png);
        background: url(/img/patterns/sp2/diagonal-noise.png);
        background: url(/img/patterns/sp2/diamonds.png);
        background: url(/img/patterns/sp2/elastoplast.png);
        background: url(/img/patterns/sp2/elegant_grid.png);
        background: url(/img/patterns/sp2/fancy_deboss.png);
        background: url(/img/patterns/sp2/felt.png);
        background: url(/img/patterns/sp2/flowers.png);
        background: url(/img/patterns/sp2/gold_scale.png);
        background: url(/img/patterns/sp2/green_dust_scratch.png);
        background: url(/img/patterns/sp2/inflicted.png);
        background: url(/img/patterns/sp2/light_alu.png);
        background: url(/img/patterns/sp2/light_checkered_tiles.png);
        background: url(/img/patterns/sp2/littleknobs.png);
        background: url(/img/patterns/sp2/mirrored_squares.png);
        background: url(/img/patterns/sp2/noise_pattern_with_crosslines.png);
        background: url(/img/patterns/sp2/paven.png);
        background: url(/img/patterns/sp2/polaroid.png);
        background: url(/img/patterns/sp2/pool_table.png);
        background: url(/img/patterns/sp2/project_papper.png);
        background: url(/img/patterns/sp2/real_cf.png);
        background: url(/img/patterns/sp2/robots.png);
        background: url(/img/patterns/sp2/roughcloth.png);
        background: url(/img/patterns/sp2/rubber_grip.png);
        background: url(/img/patterns/sp2/silver_scales.png);
        background: url(/img/patterns/sp2/small_tiles.png);
        background: url(/img/patterns/sp2/soft_circle_scales.png);
        background: url(/img/patterns/sp2/square_bg.png);
        background: url(/img/patterns/sp2/squares.png);
        background: url(/img/patterns/sp2/stucco.png);
        background: url(/img/patterns/sp2/triangles.png);
        background: url(/img/patterns/sp2/type.png);
        background: url(/img/patterns/sp2/washi.png);
        background: url(/img/patterns/sp2/white_texture.png);
        background: url(/img/patterns/sp2/whitey.png);
        background: url(/img/patterns/sp2/woven.png);
        background: url(/img/patterns/sp2/xv.png);
    }
    @if $kit or $kit == "sp3" {
        background: url(/img/patterns/sp3/batthern.png);
        background: url(/img/patterns/sp3/black_thread.png);
        background: url(/img/patterns/sp3/broken_noise.png);
        background: url(/img/patterns/sp3/candyhole.png);
        background: url(/img/patterns/sp3/carbon_fibre_big.png);
        background: url(/img/patterns/sp3/checkered_pattern.png);
        background: url(/img/patterns/sp3/classy_fabric.png);
        background: url(/img/patterns/sp3/connect.png);
        background: url(/img/patterns/sp3/dark_matter.png);
        background: url(/img/patterns/sp3/dark_wood.png);
        background: url(/img/patterns/sp3/darkdenim3.png);
        background: url(/img/patterns/sp3/denim.png);
        background: url(/img/patterns/sp3/diagmonds.png);
        background: url(/img/patterns/sp3/dvsup.png);
        background: url(/img/patterns/sp3/fabric_plaid.png);
        background: url(/img/patterns/sp3/fake_brick.png);
        background: url(/img/patterns/sp3/foggy_birds.png);
        background: url(/img/patterns/sp3/foil.png);
        background: url(/img/patterns/sp3/graphy.png);
        background: url(/img/patterns/sp3/gridme.png);
        background: url(/img/patterns/sp3/grilled.png);
        background: url(/img/patterns/sp3/groovepaper.png);
        background: url(/img/patterns/sp3/gun_metal.png);
        background: url(/img/patterns/sp3/hixs_pattern_evolution.png);
        background: url(/img/patterns/sp3/irongrip.png);
        background: url(/img/patterns/sp3/knitted-netting.png);
        background: url(/img/patterns/sp3/light_grey_floral_motif.png);
        background: url(/img/patterns/sp3/lined_paper.png);
        background: url(/img/patterns/sp3/merely_cubed.png);
        background: url(/img/patterns/sp3/nami.png);
        background: url(/img/patterns/sp3/old_wall.png);
        background: url(/img/patterns/sp3/pineapplecut.png);
        background: url(/img/patterns/sp3/plaid.png);
        background: url(/img/patterns/sp3/polonez_car.png);
        background: url(/img/patterns/sp3/px_by_Gre3g.png);
        background: url(/img/patterns/sp3/ravenna.png);
        background: url(/img/patterns/sp3/ricepaper.png);
        background: url(/img/patterns/sp3/ricepaper2.png);
        background: url(/img/patterns/sp3/small-crackle-bright.png);
        background: url(/img/patterns/sp3/soft_pad.png);
        background: url(/img/patterns/sp3/starring.png);
        background: url(/img/patterns/sp3/struckaxiom.png);
        background: url(/img/patterns/sp3/texturetastic_gray.png);
        background: url(/img/patterns/sp3/vertical_cloth.png);
        background: url(/img/patterns/sp3/white_brick_wall.png);
        background: url(/img/patterns/sp3/white_paperboard.png);
        background: url(/img/patterns/sp3/white_plaster.png);
        background: url(/img/patterns/sp3/whitediamond.png);
        background: url(/img/patterns/sp3/wood_pattern.png);
        background: url(/img/patterns/sp3/zigzag.png);
    }
    @if $kit == "paper" {}
    @if $kit == "white" {}
    @if $kit == "black" {}
}