<% @lang = "ru" %>
<% @id = "manual_test" %>
<% @title = "Как работает" %>

<h1><%= @title %></h1>

<kleparius>
	<kl-header>
		<ul class="nav nav-pills">
			<li class="active"><a href="#">Кружка</a></li>
			<li><a href="#">Блокнот</a></li>
			<li><a href="#">Календарь</a></li>
			<li><a href="#">Создать свой шаблон</a></li>
		</ul>
	</kl-header>
	<kl-page>
		<kl-text class="draggable resizable">
			<textarea>Для перемещения текста перетащите его за левый верхний угол.
Для изменения размера перетащите его за прввый нижний угол.
Для редактирования текста просто кликните.
Для изменения цвета будут иконки в правом верхнем углу.</textarea>
			<kl-fontcolor></kl-fontcolor>
			<kl-resize></kl-resize>
		</kl-text>
		<kl-img class="rotatable">
			<no-draggable>
				Для загрузки изображения<br/>перетащите его сюда<br/>или <a href="#">выберите через проводник</a>,<br/><a href="#">вставьте по url</a>,<br/><a href="#">найдите через Google</a>,<br/><a href="#">выберите в Picasso</a>.
			</no-draggable>
		</kl-img>
	</kl-page>
	<kl-footer>
		<button class="btn btn-warning">Предпросмотр</button>
		<button class="btn btn-success">На печать!</button>
	</kl-footer>
</kleparius>