@import "bootstrap/button-size";
@import "bootstrap/button-color-style";
@mixin bootstrap-button(
    $size,
    $color-style,
    $color-start,
    $color-end,
    $color,
    $form,
    $border-radius,
    $form-hover,
    $form-active)
{
    color: $gray-dark;
    display: inline-block;
    // margin-bottom: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    vertical-align: middle;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));
    cursor: pointer;
    @include bootstrap-button-size($size, $border-radius);
    @include bootstrap-button-color-style($color-style, $color-start, $color-end);
}