@mixin bootstrap-button-color-style($color-style, $color-start, $color-end) {    
    @if $color-style == "primary" {
        $color-start: #08c;
        $color-end: #05c; //04c
    }
    @if $color-style == "warning" {
        $color-start: lighten($orange, 15%);
        $color-end: $orange;
    }
    @if $color-style == "danger" {
        $color-start: #bd362f;
        $color-end: $orange;
    }
        
    @if $color-style == "success" {
        $color-start: #62c462;
        $color-end: #51a351;
    }
        
    @if $color-style == "info" {
        $color-start: #5bc0de;
        $color-end: #2f96b4;
    }
    @if $color-style == "inverse" {
        $color-start: #454545;
        $color-end: #262626;
    }
    @if $color-style == "white" {
        $color-start: $white;
        $color-end: darken($white, 20%);
    }
    @include background-image(linear-gradient($color-start, $color-end));
    background-color: $color-start;
    $border-color: darken($white, 20%);
    border: 1px solid $border-color;
    border-bottom-color: darken($border-color, 10%);
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    color: $white;
    &:hover {
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        color: $white;
        // @include transition(all 1s linear);
        // background-position: 0 -20px;
        // @include background-image(linear-gradient($background-color-end, $background-color-start));
        background-image: none;
        // background-color: $background-color-start;
    }
    &:hover, &:active, &.active, &.disabled, &[disabled] {
        // background-color: $background-color-start;
        color: rgba(255,255,255,.75);
    }
    &:active, &.active {
        // background-color: darken($background-color-start, 10%) \9;
    }
}