@mixin bootstrap-button-size($size, $border-radius) {  
    @if $size == "large" {
        padding: 9px 14px;
        font-size: $font-size + 2px;
        line-height: normal;
        @include border-radius($border-radius + 1px);
        & [class^="icon-"] {
            margin-top: 1px;
        }
    }
    @if $size == "default" {
        padding: 4px 10px 4px;
        font-size: $font-size;
        line-height: $line-height;
        @include border-radius($border-radius);
        & [class^="icon-"] {
            margin-top: 1px;
        }
    }
    @if $size == "small" {
        padding: 5px 9px;
        font-size: $font-size - 2px;
        line-height: $line-height - 2px;
        @include border-radius($border-radius);
        & [class^="icon-"] {
            margin-top: -1px;
        }
    }
    @if $size == "mini" {
        padding: 2px 6px;
        font-size: $font-size - 2px;
        line-height: $line-height - 4px;
        @include border-radius($border-radius);
        & [class^="icon-"] {
            margin-top: -1px;
        }
    }
}