<% @temp = "Заглушка" %>
<footer>
	<div class="share addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:width="50" fb:like:locale="en_US"></a>
		<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:annotation="none" style="position:relative; width:33px; display:inline-block;"></a>
		<a class="addthis_button_tweet" style="cursor:pointer;" tw:count="none"></a>
		<a class="addthis_button_livejournal" style="cursor:pointer;" title="написать в ЖЖ"></a>
		<a class="addthis_button_vk" style="cursor:pointer;" title="рассказать в контакте"></a>
		<a class="addthis_button_my.ya.ru" style="cursor:pointer;" title="поделиться на Я.ру"></a>
		<a href="http://www.addthis.com/bookmark.php?v=250&username=ra-4d77e2f8221bce54" class="addthis_button_more"></a>
	</div>
	<a href="http://www.itproduction.net" id="itpr" target="_blank"></a>
</footer>