<% @temp = "Заглушка" %>
<header>
	<nav>
		<li class="left"><a id="klep_mini" href="/<%= @lang %>/">
			<% if @lang == 'ru' %>Главная<% end %>
			<% if @lang == 'en' %>Home<% end %>
			<% if @lang == 'de' %>Haus<% end %>
		</a></li>
		<li class="left"><a href="/<%= @lang %>/features/">
			<% if @lang == 'ru' %>Возможности<% end %>
			<% if @lang == 'en' %>Features<% end %>
			<% if @lang == 'de' %>Möglichkeiten<% end %>
		</a></li>
		<li class="left"><a href="/<%= @lang %>/manual/">
			<% if @lang == 'ru' %>Как работает<% end %>
			<% if @lang == 'en' %>How it works<% end %>
			<% if @lang == 'de' %>Wie es läuft<% end %> <!-- Funktioniert -->
		</a></li>    
		<li class="left"><a href="/<%= @lang %>/terms/">
			<% if @lang == 'ru' %>Условия пользования<% end %>
			<% if @lang == 'en' %>Terms<% end %>
			<% if @lang == 'de' %>Bedingungen<% end %> <!-- Modalitäten -->
		</a></li>
		<li class="left"><a href="/<%= @lang %>/prices/">
			<% if @lang == 'ru' %>Тарифы<% end %>
			<% if @lang == 'en' %>Prices<% end %>
			<% if @lang == 'de' %>Preise<% end %>
		</a></li>
		<li class="right">
			<a id="lang" href="#" 
				<% if @lang == 'ru' %>class="ru"<% end %>
				<% if @lang == 'en' %>class="en"<% end %>
				<% if @lang == 'de' %>class="de"<% end %>
			> <!-- закрывается тэг -->
				<% if @lang == 'ru' %>Сменить язык<% end %>
				<% if @lang == 'en' %>Language<% end %>
				<% if @lang == 'de' %>Sprache<% end %>
			</a>
		</li>
		<li class="right"><a id="login" href="#">
			<% if @lang == 'ru' %>Войти<% end %>
			<% if @lang == 'en' %>Enter<% end %>
			<% if @lang == 'de' %>Einloggen<% end %>
		</a></li>
	</nav>
	<div id="header_panels"> <!-- чтобы при отключенных скриптах панели не накладывались друг на друга -->
		<div id="login_panel">
			<input id="email" class="input-medium" type="email" name="email" placeholder="e-mail"/>
			<input id="password" class="input-medium" type="password" placeholder="<% if @lang == 'ru' %>пароль<% end %><% if @lang == 'en' %>password<% end %><% if @lang == 'de' %>kennwort<% end %>"/>
			<button class="btn btn-warning">
				<% if @lang == 'ru' %>Войти<% end %>
				<% if @lang == 'en' %>Enter<% end %>
				<% if @lang == 'de' %>Einloggen<% end %>
			</button>
			<button class="btn btn-primary">
				<% if @lang == 'ru' %>Зарегистрироваться<% end %>
				<% if @lang == 'en' %>Registration<% end %>
				<% if @lang == 'de' %>Anmeldung<% end %>
			</button>
		</div>
		<div id="lang_panel">
			<a class="ru" href="/ru/"></a>
			<a class="en" href="/en/"></a>
			<a class="de" href="/de/"></a>
		</div>
	</div>
</header>