<% @temp = "Заглушка" %>

<!-- Библиотеки -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/js/libs/modernizr-2.0.6.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" id="theme"/>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<!-- Клепариус: оригинал
<script src="http://api.kleparius.com/js/jquery.fileupload.js"></script>
<script src="http://api.kleparius.com/js/jquery.fileupload-ui.js"></script>
<script src="http://api.kleparius.com/js/jquery.iframe-transport.js"></script>
<script src="http://api.kleparius.com/uploader/application.js"></script>
<script src="http://api.kleparius.com/js/kleparius.js"></script> 
<script src="/js/kleparius_old.settings.js"></script> -->
<!-- Скрипты клепариуса лежат в конце страницы, где он применяется -->
<!-- Клепариус: переосмысление  -->
<%= render '/layouts/partials/kleparius' %>
<!-- Скрипты сайта -->
<script src="/js/jquery.load.js"></script>
<script src="/js/jquery.hide_panels.js"></script>
<script src="/js/jquery.offset.js"></script>
<!-- <script src="/js/jquery.style_changer.js"></script> -->
<script src="/js/jquery.rotate_logo.js"></script>
<!-- Социальные кнопки -->
<script src="/js/addthis.js"></script>
<script src="http://s7.addthis.com/js/250/addthis_widget.js#username=ra-4d77e2f8221bce54"></script>