<% @lang = "ru" %>
<% @id = "manual" %>
<% @title = "Как работает" %>

<section>
	<h1><%= @title %></h1>
	<p>Итак, воспользовавшись нашим сервисом, вы предоставляете своим клиентам возможность самим нарисовать свой заказ. А именно:</p>
	<ul>
		<li>менять цвет текста</li>
		<li>менять размер шрифта</li>
		<li>менять выравнивание текста</li>
		<li>менять шрифт (грузить из списка, предоставленного типографией для конкретного шаблона)</li>
		<li>выполнять простую цветокоррекцию фотографий</li>
		<li>легко отправлять заказ</li>
	</ul>
</section>
<section>
	<p>Например, печать на чашке:</p>
	<ol>
		<li>Выбираем фото</li>
		<li>Вводим текст</li>
		<li>Отправляем заказ</li>
		<li>Именная чашка готова</li>
	</ol>
	<div class="kleparius"></div>
</section>