body
    overflow: hidden
    // background: url(../img/bg/groovepaper.png)
    &:before
        content: ""
        display: block
        position: fixed
        z-index: 99999
        top: 0
        left: 0
        //#0B0F0A
        // background: url(/img/patterns/sp3/irongrip.png) // $kl-black
        +background-gradient($bg-color: $gray_darker, $type: glossy, $direction: top) // null bevel glossy recessed linear matte
        // +box-shadow(0 3px 3px rgba(0,0,0,.25))
        // +background-gradient($bg-color: $gray_lighter, $type: glossy, $direction: top) // null bevel glossy recessed linear matte
        +box-shadow(0 3px 3px rgba(0,0,0,.25))
        height: 40px
        width: 100%
header
    position: fixed
    z-index: 999999 // =))
    +ahc(800px)
    nav
        +clear-floats
        list-style: none
        li
            float: left
            a
                // vertical-align: middle // выравнивание текста и картинок по высоте
                // display: table-cell //
                // height: 40px //
                // padding-right: 16px
                text-decoration: none
                display: inline-block
                margin-right: 16px
                margin-top: 8px
                // position: relative // можно обойтись только маргином
                // top: 8px
                &, &:visited
                    color: white
                &:hover, &:active
                    color: #F0A563 // = $kl-orange на голубом фоне
                // img
                //     vertical-align: middle
                &#klep_mini
                    +box-sizing(border-box)
                    +site-sprite(klep_mini)
                    margin-top: 4px
                    text-indent: -9999px
                    overflow: hidden
                    // font-size: 0px
            &.right
                float: right
                a
                    margin-left: 16px
                    margin-right: 0px
                    &.ru, &.en, &.de
                        margin-top: 6px
                        text-indent: -9999px
                        overflow: hidden
                        font-size: 0px
                    &.ru
                        +site-sprite(ru)
                    &.en
                        +site-sprite(en)
                    &.de
                        +site-sprite(de)
                    // padding-left: 16px
                    // padding-right: 0 //осторожно, не двигать
                    // height: 28px // важно
                    // margin: 0 3px !important
                    // display: block
                    // float: left
                    // img
                    //     // height: 26px
                    //     border: 1px solid
                    //     border-color: rgba(0, 38, 47, 0.3)
    #header_panels
        position: absolute
        top: 45px
        right: 0
        #login_panel
            float: left // если скрипты выключены
            background: $kl_blue
            +border-radius(2px)
            // height: 38px
            padding: 5px 10px
            input, button
                margin: 0 !important
                vertical-align: middle
        #lang_panel
            margin-left: 15px // если скрипты выключены
            float: left // если скрипты выключены
            background: $kl_blue
            +border-radius(2px)
            padding: 5px 7px
            a
                height: 28px // важно
                margin: 0 3px !important
                display: block
                float: left
                border: 1px solid
                border-color: rgba(0, 38, 47, 0.3)
                &.ru
                    +site-sprite(ru)
                &.en
                    +site-sprite(en)
                &.de
                    +site-sprite(de)
                    
                    
article
    margin: 0 auto
    padding-top: 60px
    header
        width: 100%
        height: 189px
        margin-bottom: 20px
        ul
            list-style: none
            margin: 20px auto 0
            li
                float: left
                // background: $black
                padding: 150px 0px 15px
                display: table-cell
                width: 160px//14.6%
                text-align: center
                &:nth-child(1)
                    background: $kl_black url(../img/home_icons/1.png) no-repeat // должен быть спрайт
                    background-position: 50% 24px
                &:nth-child(2)
                    background: $kl_black url(../img/home_icons/2.png) no-repeat // должен быть спрайт
                    background-position: 50% 24px
                &:nth-child(3)
                    background: $kl_black url(../img/home_icons/3.png) no-repeat // должен быть спрайт
                    background-position: 50% 24px
                &:nth-child(4)
                    background: $kl_black url(../img/home_icons/4.png) no-repeat // должен быть спрайт
                    background-position: 50% 24px
                &:nth-child(5)
                    background: $kl_black url(../img/home_icons/5.png) no-repeat // должен быть спрайт
                    background-position: 50% 24px
                &:nth-child(6)
                    background: $kl_black url(../img/home_icons/6.png) no-repeat // должен быть спрайт
                    background-position: 50% 24px
                a
                    color: #bababa
                    padding: 150px 10px 10px
                    &:hover
                        color: white
                        text-decoration: none
                    &:active
                        color: #ccc
                        text-decoration: none