.kleparius-page {
	// clear:both;
	@include clear-floats();
	position:relative;
	width:100%;
}
.kleparius-page-preview {
	float: left;
	overflow:hidden;
	clear:both;
	border:1px solid black;
	position:relative;
	width: 63% !important; // 45%
	background:url(http://api.kleparius.com/images/blank_bg.png);
}
.kleparius-page-preview span{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.kleparius-placeholders {
	float: right;
	margin-left: 20px;
}
.kleparius-page-text-fields {
	width: 100%;
	color: blue;
	margin-top: 20px;
}
.kleparius-image-crop-control {
	@include clear-floats();
}
.kleparius-makeorder-button {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.kleparius-makeorder-button input {
	@extend .btn;
	@extend .btn-large;
}
.kleparius-image-placement-image {
	overflow:hidden;
	height: 0px;
	position: absolute;
}

.kleparius-image-placement-control {
	overflow:hidden;
	z-index: 200;
	position: absolute;
}

.kleparius-image-placement-control:hover {
        border-style: solid;
        border-color: #900;
        border-width: 0px;
		cursor: move;
}

.kleparius-image-placement-control-icons {
	width: 100%;
	height: 100%;
/*	display: none;*/
}

.kleparius-image-placement-control-icons:hover {
        display: block;
	color:#900;
}

.kleparius-page-preview-image {
	background-color: transparent;
	background-repeat: no-repeat;
}

kleparius-fileupload-input {
display: inline;
/*	width: 200px!important;
	height: 30px!important;
	z-index: -1;*/
}

.kleparius-text-control-field, .fileinput-buttonbar {
	width: 250px;
}

.kleparius-textarea-control-field {
	width: 250px;
}

.fileupload-progressbar {
	width: 250px!important;
}

.kleparius-page-preview-loading {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}