.share
    height: 20px !important
    overflow: hidden !important
    float: left
    bottom: -3px
    position: relative
    width: auto !important
    .addthis_toolbox
        width: 280px !important
    .addthis_default_style .at300b, .addthis_default_style .at300m
        // padding: 0 5px !important
    .addthis_button_tweet iframe
        width: 76px !important
    .at300bs
        position: relative !important
        top: 2px !important
    // .at15t_livejournal
    //     background-position: 0 -2945px
    //     height: 16px
    // .at15t_more
    //     background-position: 0 -3265px
    // .at15t_vk
    //     background-position: 0 -5185px