#style_changer
    height: 40px
    // width: 160px //(40px + 16px) * 4
    background: black url(http://fly.twitter.com/img/twitter_web_sprite_bgs.png) repeat-x
    position: fixed
    right: 0
    bottom: 0
    ul
        list-style: none
        li
            float: left
            display: table-cell
            text-align: center
            // width: 25%
            a
                font-family: Helvetica Neue, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif
                font-size: 24px
                line-height: 40px
                color: #bababa !important
                text-decoration: none
                &:hover
                    color: white !important
                    // text-decoration: none
                &:active
                    color: #ccc !important
                    // text-decoration: none