article#home
    #logo
        margin: 0 auto
        // display: block
        // width: 340px
        +site-sprite(klep)
    $section_background_color: #00cc44//#F0FFFF
    $section_background_type: bevel // null bevel glossy recessed linear matte
    section
        padding-top: 40px
        margin-top: 30px
        color: black
        +border-radius(6px)
        background-color: #E8F4F8
        +box-shadow(0px 0px 2px rgba(0, 0, 0, 0.3))
        padding: 1em
        +transition(box-shadow 0.4s linear)
        padding-left: 10px
        padding-right: 10px
        position: relative
        &:after
            display: block
            position: absolute
            left: 0px
            top: 0px
            height: 157px//100% 
            content: ''
            // background-image: url(/img/home_icons/logo.png)
            background-repeat: no-repeat
            z-index: 9999
            border: 0px solid black
        &:hover
            +transition(box-shadow 0.4s linear)
            +raised
            background-color: #E8F4F8
        h2
            margin-left: 198px
        h4
            margin-left: 198px
        p
            margin-left: 180px
        ul
            margin-left: 180px
            margin-top: 5px
            li
                &:before
                    content: "•"
                    color: #FF992F
                    margin-right: 7px
    #about
        &:after
            +site-sprite(about)
            left: 20px
            top: 55px
    #features
        &:after
            +site-sprite(features)
            left: 20px
            top: 95px
    #integration
        &:after
            +site-sprite(integration)
            left: 12px
            top: 100px
    #editor
        &:after 
            +site-sprite(editor)
            left: 25px
            top: 110px
    #servers
        &:after
            +site-sprite(servers)
            left: 50px
            top: 50px
        span
            margin-left: 180px
    #print
        &:after 
            +site-sprite(print)
            left: 20px
            top: 43px
    #registration
        &:after 
            +site-sprite(registration)
            left: 20px
            top: 55px
        form
            margin-top: 15px
            margin-left: 195px
            input
                font-size: 23px
                line-height: 29px
                height: 29px
                margin: 0px 0px 9px
                padding: 4px
                width: 172px
                margin-right: 5px
            button
                position: relative
                bottom: 5px
            #registration_firm_name
                width: 551px !important
    #blankzakaza
        &:after
            +site-sprite(blankzakaza)
            left: 55px
            top: 25px
