kleparius,
kl-page,
kl-header,
kl-footer,
kl-img,
kl-text,
kl-fontcolor,
kl-resize,
no-draggable
    display: block

article#manual_test
    kleparius
        width: 100%
        margin: 20px 0 // не факт, что будет нужно
        kl-header
        kl-page
            position: relative
            height: 400px
            border: 2px solid rgba(0, 0, 0, 0.2)
            .ui-wrapper, .ui-draggable, .rotatable // .draggable, .resizable
                background: transparent
                // +box-sizing(border-box)
                border: 4px solid transparent
                &:hover
                    border: 4px dashed #ccc
                &:active
                    border: 4px dashed $kl-blue
                &:hover, &:active
                    .ui-icon-gripsmall-diagonal-se
                        display: block !important
                .ui-icon-gripsmall-diagonal-se
                    display: none !important
            .draggable
                no-draggable
                    height: 100%
                    width: 100%
            .rotatable
                .rotate_point
                    // opacity: 0
                    // display: none
                    height: 16px // 20
                    width: 16px // 20
                    z-index: 999999
                    left: 20px
                    top: 20px
                    background: #cc0000 url(/img/api/point.png) no-repeat
                    font-size: 10px
                    // padding-left: 7px //
                    overflow: visible
                    position: absolute
                    // cursor: move
                .rotate_wrapper
                    height: 100%
                    width: 100%
                    position: absolute
                    // height и widht задаютс скриптом
                &:hover, &:active
                    .rotate_point
                        opacity: 1
                &:active
                    .rotate_point
                        border-color: $kl-blue
            kl-img
                // display: block
                position: absolute
                left: 437px
                height: 250px //
                width: 250px //
                top: 45px
                text-align: center
                // padding: 30px
            kl-text
                position: absolute
                top: 37px
                left: 27px
                textarea
                    width: 100%
                    height: 100%
                    font-size: 18px
                    background: transparent
                    border: none
                    +border-radius(0px)
                    +box-shadow(0 0 0 #fff)
                    box-sizing: border-box
                    overflow: hidden
                    resize: none
                    &:focus, &:hover
                        +border-radius(0px)
                        border: none
                        +box-shadow(0 0 0 #fff)
            kl-fontcolor
                position: absolute
                top: -24px
                left: 10px
                width: 16px
                height: 16px
                border: 1px solid $kl-blue
                +border-radius(3px)
                // background: url(/img/kleparius/kl-fontcolor.svg) no-repeat
            kl-resize
                position: absolute
                top: -24px
                left: 30px
                width: 16px
                height: 16px
                border: 1px solid $kl-blue
                +border-radius(3px)
                // background: url(/img/kleparius/kl-resize.png) no-repeat
        kl-footer
            margin-top: 20px