article#prices
    .btn-large
        position: absolute
        right: 0
        top: 516px
    table
        td, th
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4)
                text-align: center
        th
            &:nth-child(2)
                color: $kl-red
            &:nth-child(3)
                color: $kl-blue
            &:nth-child(4)
                color: $kl-green