// абсолютное и горизонтальное центрирование
@mixin ahc($c-width: 100%) {
    left: 50%;
    margin-left: - $c-width / 2;
    width: $c-width;
}
// абсолютное и вертикальное центрирование
@mixin avc($c-height: 100%) {
    top: 50%;
    margin-top: - $c-height / 2;
    height: $c-height;
}
// абсолютное и вертикальное и горизонтальное центрирование
@mixin ac($c-width: 100%, $c-height: 100%) {
    left: 50%;
    margin-left: - $c-width / 2;
    width: $c-width;
    top: 50%;
    margin-top: - $c-height / 2;
    height: $c-height;
}