// +lifted
// +curled
// +raised
// +curved-vt-1
// +curved-vt-2
// +curved-hz-1
// +curved-hz-2
// +rotated

// Блок с приподнятыми уголками
@mixin lifted {
    position: relative;
    padding: 1em;
    // margin: 2em 10px 4em;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius: 4px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
        bottom: 15px;
        left: 10px;
        width: 50%;
        height: 20%;
        max-width: 300px;
        -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
        }
    &:after {
        right: 10px;
        left: auto;
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
        }
}

// Блок с завитками на уголках
@mixin curled {
    position: relative;
    padding: 1em;
    // margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #efefef;
    -moz-border-radius: 0 0 120px 120px / 0 0 6px 6px;
    border-radius: 0 0 120px 120px / 0 0 6px 6px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
        bottom: 12px;
        left: 10px;
        width: 50%;
        height: 55%;
        max-width: 200px;
        -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
        -webkit-transform: skew(-8deg) rotate(-3deg);
        -moz-transform: skew(-8deg) rotate(-3deg);
        -ms-transform: skew(-8deg) rotate(-3deg);
        -o-transform: skew(-8deg) rotate(-3deg);
        transform: skew(-8deg) rotate(-3deg);
    }
    &:after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }
}
// Перспектива
// @mixin perspective_1 {
//     width: 40%;
//     position: relative;
//     padding: 1em;
//     margin: 2em 10px 4em;
//     background: #fff;
//     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
//     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
//     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
//     &:before,
//     &:after {
//         content: "";
//         position: absolute;
//         z-index: -2;
//      }
//     &:before {}
//         left: 80px;
//         bottom: 5px;
//         width: 50%;
//         height: 35%;
//         max-width: 200px;
//         -webkit-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
//         -moz-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
//         box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
//         -webkit-transform: skew(50deg);
//         -moz-transform: skew(50deg);
//         -ms-transform: skew(50deg);
//         -o-transform: skew(50deg);
//         transform: skew(50deg);
//         -webkit-transform-origin: 0 100%;
//         -moz-transform-origin: 0 100%;
//         -ms-transform-origin: 0 100%;
//         -o-transform-origin: 0 100%;
//         transform-origin: 0 100%;
//       }
//     &:after {
//         display: none;
//   }
// }

// Приподнятый бокс
@mixin raised {
    position: relative;
    // padding: 1em;
    // margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow:  0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:  0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:  0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    // &:before,
    // &:after {
    //     content: "";
    //     position: absolute;
    //     z-index: -2;
    // }
}

// Блок с одним вертикальным изгибом
@mixin curved-vt-1 {
    position: relative;
    padding: 1em;
    // margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
    }
    &:before {
        top: 10px;
        bottom: 10px;
        left: 0;
        right: 50%;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
        box-shadow: 0 0 15px rgba(0,0,0,0.6);
        -moz-border-radius: 10px / 100px;
        border-radius: 10px / 100px;
    }
}

// Блок с двумя вертикальными изгибами
@mixin curved-vt-2 {
    position: relative;
    padding: 1em;
    // margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
    }
    &:before {
        top: 10px;
        bottom: 10px;
        left: 0;
        right: 0;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
        box-shadow: 0 0 15px rgba(0,0,0,0.6);
        -moz-border-radius: 10px / 100px;
        border-radius: 10px / 100px;
    }
}

// Блок с одним горизонтальным изгибом
@mixin curved-hz-1 {
    position: relative;
    padding: 1em;
    // margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
    }
    &:before {
        bottom: 0px;
        left: 10px;
        right: 10px;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
        box-shadow: 0 0 15px rgba(0,0,0,0.6);
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }
}

// Блок с двумя горизонтальными изгибами
@mixin curved-hz-2 {
    position: relative;
    padding: 1em;
    // margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
    }
    &:before {
        top: 0px;
        bottom: 0px;
        left: 10px;
        right: 10px;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
        box-shadow: 0 0 15px rgba(0,0,0,0.6);
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }
}

// Перевернутый бокс
@mixin rotated {
    position: relative;
    padding: 1em;
    // margin: 2em 10px 4em;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    &>:first-child
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0px;
            bottom: 0;
            left: 0;
            right: 0px;
            background: #fff;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
        bottom: 15px;
        left: 10px;
        width: 50%;
        height: 20%;
        max-width: 300px;
        -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    &:after {
        right: 10px;
        left: auto;
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}